@{
    ViewBag.Title = "RelationView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<MVC_App.Domain.Models.tblRelation>

    <div>
        <h3>Relations</h3>
        <table>
            <tr class="header">
                <td><p>Name</p></td>
                <td><p>FullName</p></td>
                <td><p>TelephoneNumber</p></td>
                <td><p>Email</p></td>
            </tr>
            @foreach (MVC_App.Domain.Models.tblRelation r in Model)
            {
        <tr>
            <td><p>@r.Name</p></td>
            <td><p>@r.FullName</p></td>
            <td><p>@r.TelephoneNumber</p></td>
            <td><p>@r.EMailAddress</p></td>
        </tr>
            }
        </table>
    </div>